
body {
}

a, a:visited {
  color:#333;
}

#container {
  padding-top:20px;
  width: 980px;
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
}

header {
  padding: 10px;
}

#book-title {
  font-family: georgia, "times new roman", times, serif;
  color: #555;
  font-size: 2.3em;
  text-align: center;
}

#intro{
  position:absolute;
  z-index:100;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background:#333;
  color:white;
}

#intro .content{
  position:absolute;
  top:30%;
  left:50%;
  height:200px;
  width: 400px;
  z-index:200;
  opacity:1.0;
  color:#eee;
}

#intro .next{
  position:absolute;
  color:white;
  right:-50px;
  font-size:32px;
  cursor:pointer;
}

#intro .content .innercontent{
  position:relative;
  left:-50%;
}

#text-select {
  float:right;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
}

#status {
  padding:0 0 20px 20px;
}

#controls {
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  width: 350px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: #f99;
}

.bubble-node .mask{
  fill:#6af;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #fcc;
}

.bubble-hover .mask{
  fill: #9cf;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #f66;
  /* stroke: #6081a3; */
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.bubble-selected .mask{
  fill: #48f;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

footer p {
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  font: 13px sans-serif;
}

.namediv_female {
  color: #ff0000;
  width: 200px;
  float: left;
  position: relative;
  border: 1px solid #ff0000;
  padding: 5px;
  margin: 5px;
}

.namediv_male {
  color: #008888;
  width: 200px;
  float: left;
  position: relative;
  border: 1px solid #008888;
  padding: 5px;
  margin: 5px;
}

