<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>vis</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

  <div id="container" class="container">
    <div id="intro"></div>
    <header>
    <h1>New York Times Life Records 1987 - 2007</h1>
    </header>
    <div id="main" role="main">
      <div id="vis"></div>
      <div id="status"></div>
    </div>
  </div> 
<!--! end of #container -->


  <div class="container">
    <div class="row">

      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="650">
          <li><a href="#overview"><i class="icon-chevron-right"></i> Women and Men in the New York Times</a></li>
          <li class="active"><a href="#scrollspy"><i class="icon-chevron-right"></i> Browse A Category</a></li>
          <li><a href="#carousel"><i class="icon-chevron-right"></i> Remember A Life</a></li>
          <li><a href="#voice"><i class="icon-chevron-right"></i> Use Your Voice</a></li>
          <li><a href="#about"><i class="icon-chevron-right"></i> About</a></li>
        </ul>
      </div>

      <div class="span6">
         <h4 id="word_selection_heading"></h4>
         <div id="obituaries">
         </div>

         <h2 id="person_view_heading"></h2>
         <div id="person_view">
         </div>
      </div>

    <!-- Content Right Bar -->
      <div class="span3 bs-docs-sidebar">
        <div id="instructions" class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="650">
        <h3>About This thing</h3>
        <p>More paragraphs about this part of the process can be included here.</p>
        <p>That way I can highlight women's stories and content in general, and include commentary where helpful.</p>
        </div>
      </div>

    </div>
  </div>


  <!-- Templates -->

  <!-- Slide Page -->
  <script type="text/template" id="slide_template">
    <div class="content">
      <div class="innercontent">
        <div class="next"><a class="next">[next]</a></div>
        <h2 class="first"></h2>
        <br/>
        <h2 class="second"></h2>
        <br/>
        <h2 class="third"></h2>
      </div>
    </div>
  </script>

  <!-- Individual Obituary Block-->
  <script id="obit_name_template" type="text/template"><a class="obit_entry_link" title="<%=name.name%>" href="#<%=word%>/<%=name.id%>"><div class="obit_entry" id="obit_<%=name.id%>" data-obit-id="<%=name.id%>"><span class="block <%=name.g%>"></span></div></a></script>

  <!-- Obituary Sidebar -->
  <script id="person_sidebar_template" type="text/template">
    <h4><%=person.name%></h4>
    <h5><%=person.date%></h5>
    <p>TODO: status in database</p>
  </script>

  <!-- Obituary Area -->
  <script id="person_page_template" type="text/template">
    <h3 id="person_entry"><%=person.name%>, <%=person.date%></h3>
    <% _.each(person.sentences, function(sentence){ %>
      <p><%=sentence%></p>
    <% }); %>
    <p><a target="_new" class="full_obituary" href="<%=person.url%>"><img src="https://www.nytimes.com/favicon.ico"/>Read the full obituary of <%=person.name%>.</a> </p>
    <p><a class="wiki_research_action" href="https://en.wikipedia.org/wiki/Special:Search?search=<%=person.name%>&go=Go" target="_new"><img src="http://wikipedia.com/favicon.ico" align="bottom"/>Search Wikipedia for <em><%=person.name%></em></a></p>

    <h4>Learn more &amp; find other sources for Wikipedia</h4>
    <ul >
      <li><a class="research_action" data-publication="the New York Times" target="_new" href="http://query.nytimes.com/search/sitesearch/#/<%=person.name.replace(' ','+')%>"><img src="https://www.nytimes.com/favicon.ico"/>Search the New York Times for  <em><%=person.name%></em></a></li>
      <li><a class="research_action" data-publication="the Boston Globe" target="_new" href="https://secure.pqarchiver.com/boston/results.html?st=advanced&QryTxt=<%=person.name.replace(' ','+')%>&type=current&sortby=RELEVANCE&datetype=0&frommonth=01&fromday=01&fromyear=1980&tomonth=05&today=03&toyear=2013&By=&Title="><img width="16" height="16" src="http://www.boston.com/favicon.ico"/>Search the Boston Globe for <em><%=person.name%></em></a></li>
      <li><a class="research_action" data-publication="Britannica" target="_new" href="http://www.britannica.com/search?query=<%=encodeURIComponent(person.name)%>"><img width="16" height="16" src="http://www.britannica.com/favicon.ico"/>Search Britanicca for <em><%=person.name%></em></a></li>
      <li><a class="research_action" data-publication="Google Books" target="new" href="http://google.com/search?q=<%=person.name.replace(' ','+')%>&btnG=Search+Books&tbm=bks&tbo=1"><img src="https://www.google.com/favicon.ico">Search Google Books for <em><%=person.name%></em></li>
    </ul>
    </div>
  </script>

  <script id="share_life_record_template" type="text/template">
    <div class="modal" style="display:none">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Share A Story</h3>
        </div>
        <div class="modal-body">
          <p>Has the story of <em><%=meta_fields.person.name%></em> inspired you? Share this story on Facebook and Twitter.</p> <p>Maybe this life record inspires you to tell some other story. Why not write a short note online to remember your heroes?</p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://url" data-text="THING THING" data-via="ACCOUNT" data-size="large" data-dnt="true">Tweet</a>
          <br/><br/>
         
          <div id="like_person" class="fb-like" data-send="true" data-width="450" data-show-faces="false" data-font="lucida grande" data-action="recommend" style="height:160px;"></div>
        </div>

        <div class="modal-footer">
          <input type="submit" class="btn btn-primary close" value="Close"></input>
        </div>
      </div>
    </div>
  </script>

  <script id="does_wikipedia_include" type="text/template">
    <div class="modal" style="display:none">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><%=title%></h3>
        </div>
        <div class="modal-body">
          <form name="does_wikipedia_include" action="/survey/does_wikipedia_include.json" method="post" id="wikipedia_survey">
          <fieldset>
            <input type="hidden" name="authenticity_token" value="<%=meta_fields.authenticity_token%>"/>
            <input type="hidden" name="obituary_id" value="<%=meta_fields.person.id%>"/>
            <input type="hidden" name="topic" value="<%=meta_fields.word%>"/>
            <span class="help-block">Does Wikipedia include <%=meta_fields.person.name%>? Remember, people are sometimes described within a topic rather than a biography. You may have to search again.</span>
            <label class="radio inline">
              <input type="radio" name="includes_person" value="Y"> Yes
            </label>
            <label class="radio inline">
              <input type="radio" name="includes_person" value="N"> No
            </label>
            <hr/>
            <span class="help-block">Does <em><%=meta_fields.person.name%></em> meet <strong>at least one</strong> of Wikipedia's <a target="_new" href="https://en.wikipedia.org/wiki/Wikipedia:Article_wizard/Biographical_notability">notable person requirements</a>?</span>
            <label class="radio inline">
              <input type="radio" name="notable" value="Y"> Yes
            </label>
            <label class="radio inline">
              <input type="radio" name="notable" value="N"> No
            </label>
            
            <hr/>
            <span class="help-block">If <%=meta_fields.person.name%> does appear in Wikipedia, is the article so thin or weak that it clearly needs more detail or editing?</span>
            <label class="radio inline">
              <input type="radio" name="needs_improvement" value="Y"> Yes 
            </label>
            <label class="radio inline">
              <input type="radio" name="needs_improvement" value="N"> No
            </label>
          </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <input id="submit_form" type="submit" class="btn btn-primary" value="Save Report"/>
        </div>
      </div>
    </div>
    
  </script>

  <script id="does_publication_include" type="text/template">
    <div class="modal" style="display:none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Now that you've checked <%=publication%></h3>
        </div>
        <div class="modal-body">
          <form name="publication_survey" action="/survey/does_publication_include.json" method="post" id="publication_survey">
            <input type="hidden" name="publication" value="<%=publication%>"/>
            <input type="hidden" name="authenticity_token" value="<%=meta_fields.authenticity_token%>"/>
            <input type="hidden" name="obituary_id" value="<%=meta_fields.person.id%>"/>
            <input type="hidden" name="topic" value="<%=meta_fields.word%>"/>
          <fieldset>
            <span class="help-block">Does <%=publication%> include <%=meta_fields.person.name%>?</span>
            <label class="radio inline">
              <input type="radio" name="includes_person" value="Y"> Yes
            </label>
            <label class="radio inline">
              <input type="radio" name="includes_person" value="N"> No
            </label>
            <hr/>
            <span class="help-block">(optional) Web address of the page</span>
            <label class="text inline">
              <input type="text" name="url" placeholder="http://"> 
            </label>
          </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <input id="submit_form" type="submit" class="btn btn-primary" value="Save Report"/>
        </div>
      </div>
    </div>

  </script>


  <!-- End Templates -->

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

  <script defer type="text/javascript" src="js/bootstrap.min.js"></script>
  <script defer type="text/javascript" src="js/plugins.js"></script>
  <script defer type="text/javascript" src="js/libs/jquery-cookie.js"></script>
  <script defer type="text/javascript" src="js/libs/jquery.scrollTo-1.4.3.1-min.js"></script>
  <script defer type="text/javascript" src="js/libs/crossfilter.min.js"></script>
  <script defer type="text/javascript" src="js/libs/d3.v2.js"></script>
  <script defer type="text/javascript" src="js/libs/underscore-min.1.4.4.js"></script>
  <script defer type="text/javascript" src="js/libs/backbone-min-1.0.0.js"></script>
  <script defer type="text/javascript" src="app/bubble.js"></script>
  <script defer type="text/javascript" src="app/obituaries.js"></script>
  <script defer type="text/javascript" src="app/intro.js"></script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
