<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>vis</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

  <div id="container" class="container">
    <div id="intro"></div>
    <header>
    <h1>New York Times Obituaries, 1987 - 2007</h1>
    </header>
    <div id="main" role="main">
      <div id="vis"></div>
      <div id="status"></div>
    </div>
  </div> <!--! end of #container -->
  <div id="obituaries">
  </div>

  <!-- Templates -->
  <script id="tmpl-obit-sentences" type="text/template">
    <% // data is word.json and bubblecloud_data.json %>
    <div id="rates_graph">
	Rates graph goes here.
    </div>
    <div id="sentence-intro">
	Intro for sentences.
    </div>

    <% // A div for each name, showing the name. %>
    <% for (var i=0; i < names.length; i++) { %>
	    <% var name = names[i]; %>
	    <div id=<%= i %> class=<%= "namediv_"+ name.gender %> gender=<%= name.gender%> >
		    <%= name.name %>, <%= name.date %>, <%= name.gender %>
	    </div>
    <% }; %>

    </div>
  </script>

  <script type="text/template" id="slide_template">
    <div class="content">
    <div class="innercontent">
      <h2 class="title"><%=title%></h2>
      <div class="text"><%=text%></div>
      <div class="next"><a class="next">next</a></div>
    </div>
    </div>
  </script>
  <!-- End Templates -->

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

  <script defer src="js/plugins.js"></script>
  <script defer src="js/libs/jquery-cookie.js"></script>
  <script src="js/libs/d3.v2.js"></script>
  <script type="text/javascript" src="app/bubble.js"></script>
  <script type="text/javascript" src="js/libs/underscore-min.1.4.4.js"></script>
  <script type="text/javascript" src="js/libs/backbone-min-1.0.0.js"></script>
  <script type="text/javascript" src="app/obituaries.js"></script>
  <script type="text/javascript" src="app/intro.js"></script>

</body>
</html>
